# File types to ignore
*.png
*.pdf
*.root
*.hepmc

# Folders to ignore
**/CMakeFiles/**
**/calibrations/**
**/fieldmaps/**

# Miscellaneous files
*.cmake
*.txt
*.swp
*.tgz
*.pcm
Farm_Bash_Scripts/*.txt
*.xml
*.gdml

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Specific folder
EICreconPlugins/gdml
